.main{
    width: 1080px;
    height: 1080px;
    border: 2px solid black;
    text-align: center;
    background-color: hsl(6, 24%, 8%);
    font-style: italic;
}
.content{
    border: 2px solid rgb(205, 185, 185);
    margin-top: 32.5%;
    
}
.quote{
    border: 2px solid rgb(249, 65, 65);
    /* margin-top: 22vh; */
    font-size: 42px;
    color: #f8eecc;
}
.author{
    border: 2px solid rgb(249, 65, 65);
    margin-top: 5vh;
    font-size: 28px;
    color: #f8eecc;
}
.source{
    border: 2px solid rgb(20, 8, 8);
    margin-top: 2vh;
    font-size: 27px;
    color: #f8eecc;
}

.main2{
    width: 1080px;
    height: 1080px;
    border: 2px solid black;
    text-align: center;
    background-color: #BDB5D5;
    font-style: italic;
}
.white{
    background-color: beige;
    height: 216px;
}